{%- if request.page_type == 'collection' or request.page_type == 'search' -%}
  {%- assign active_filters_count = 0 -%}

  {%- if request.page_type == 'collection' -%}
    {%- assign filters = collection.filters -%}
  {%- else -%}
    {%- assign filters = search.filters -%}
  {%- endif -%}

  {%- for filter in filters -%}
    {%- if filter.type == 'list' -%}
      {%- assign active_filters_count = active_filters_count | plus: filter.active_values.size -%}
    {%- elsif filter.type == 'price_range' and filter.min_value.value or filter.max_value.value -%}
      {%- assign active_filters_count = active_filters_count | plus: 1 -%}
    {%- endif -%}
  {%- endfor -%}

  {%- assign is_toolbar_collapsed = false -%}

  {%- if request.page_type == 'search' and search.results.first.object_type != 'product' and search.results_count > 0 -%}
    {%- assign is_toolbar_collapsed = true -%}
  {%- endif -%}

  <div id="mobile-facet-toolbar" class="mobile-toolbar {% if is_toolbar_collapsed %}is-collapsed{% endif %} hidden-lap-and-up">
    <button is="toggle-button" class="mobile-toolbar__item mobile-toolbar__item--filters {% if active_filters_count > 0 %}has-filters{% endif %}" aria-expanded="false" aria-controls="facet-filters" style="display: none">
      {%- render 'icon' with 'filters' -%}
      <span class="mobile-toolbar__item-label">{{- 'collection.general.filters' | t -}}</span>
    </button>

    <button is="toggle-button" class="mobile-toolbar__item mobile-toolbar__item--sort" aria-expanded="false" aria-controls="sort-by-popover" style="display: none">
      <span class="mobile-toolbar__item-label">{{- 'collection.general.sort_by' | t -}}</span>
      {%- render 'icon' with 'chevron' -%}
    </button>
  </div>
{%- endif -%}
